MAILTO=""
PATH=/root/bin
15 */4 * * *	rcb-rsnapshot.sh -i=hourly
15 1   * * 1	rcb-rsnapshot.sh -i=weekly	
15 2   1 * *	rcb-rsnapshot.sh -i=monthly	
15 5   * * *	rcb-daily-encrypt-rsync-decrypt-restore.sh
